<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>  The heart is a muscular organ in humans and other animals, which pumps blood through the blood vessels of the circulatory system.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> Blood provides the body with oxygen and nutrients, as well as assists in the removal of metabolic wastes.</p>
        </div>
    </body>
</html>
